/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
.logo:hover, .logo {
    text-decoration: none;
}

#skip-to-content {
	clip: rect(0px, 0px, 0px, 0px);
	position: absolute;
}