<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Description"
		content="Lightweight CMS lets you perform Create, Read, Update, Delet operations on Files and Folders.">
	$theme.include($top_head_include)

  <script type="text/javascript">
    // dynamically add base tag as well as css and javascript files.
    // we can't add css/js the usual way, because some browsers (FF) eagerly prefetch resources
    // before the base attribute is added, causing 404 and terribly slow loading of the docs app.
    (function() {
      var indexFile = (location.pathname.match(/\/(index[^\.]*\.html)/) || ['', ''])[1],
          rUrl = /(#!\/|api|guide|misc|tutorial|error|index[^\.]*\.html).*$/,
          baseUrl = location.href.replace(rUrl, indexFile),
          production = location.hostname === 'docs.angularjs.org',
          headEl = document.getElementsByTagName('head')[0],
          sync = true;

//      addTag('base', {href: baseUrl});


      addTag('link', {rel: 'stylesheet', href: '${path_main}/components/bootstrap-3.1.1/css/bootstrap.min.css', type: 'text/css'});
      addTag('link', {rel: 'stylesheet', href: '${path_main}/components/open-sans-fontface-1.0.4/open-sans.css', type: 'text/css'});
      addTag('link', {rel: 'stylesheet', href: '${css_folder}/prettify-theme.css', type: 'text/css'});
      addTag('link', {rel: 'stylesheet', href: '${css_folder}/docs.css', type: 'text/css'});
      addTag('link', {rel: 'stylesheet', href: '${css_folder}/animations.css', type: 'text/css'});
      

      addTag('script', {src: '${javascript_folder}/angular.min.js' }, sync);
      addTag('script', {src: '${javascript_folder}/angular-resource.min.js' }, sync);
      addTag('script', {src: '${javascript_folder}/angular-route.min.js' }, sync);
      addTag('script', {src: '${javascript_folder}/angular-cookies.min.js' }, sync);
      addTag('script', {src: '${javascript_folder}/angular-sanitize.min.js' }, sync);
      addTag('script', {src: '${javascript_folder}/angular-touch.min.js' }, sync);
      addTag('script', {src: '${javascript_folder}/angular-animate.min.js' }, sync);
      addTag('script', {src: '${path_main}/components/marked-0.3.3/lib/marked.js' }, sync);
      addTag('script', {src: '${javascript_folder}/angular-bootstrap/bootstrap.min.js' }, sync);
      addTag('script', {src: '${javascript_folder}/angular-bootstrap/dropdown-toggle.min.js' }, sync);
      addTag('script', {src: '${path_main}/components/lunr.js-0.4.2/lunr.min.js' }, sync);
      addTag('script', {src: '${path_main}/components/google-code-prettify-1.0.1/src/prettify.js' }, sync);
      addTag('script', {src: '${path_main}/components/google-code-prettify-1.0.1/src/lang-css.js' }, sync);
      addTag('script', {src: '${javascript_folder}/versions-data.js' }, sync);
      addTag('script', {src: '${javascript_folder}/pages-data.js' }, sync);
      addTag('script', {src: '${javascript_folder}/nav-data.js' }, sync);
      addTag('script', {src: '${javascript_folder}/docs.min.js' }, sync);
      

      function addTag(name, attributes, sync) {
        var el = document.createElement(name),
            attrName;

        for (attrName in attributes) {
          el.setAttribute(attrName, attributes[attrName]);
        }

        sync ? document.write(outerHTML(el)) : headEl.appendChild(el);
      }

      function outerHTML(node){
        // if IE, Chrome take the internal method otherwise build one
        return node.outerHTML || (
            function(n){
                var div = document.createElement('div'), h;
                div.appendChild(n);
                h = div.innerHTML;
                div = null;
                return h;
            })(node);
      }
    })();

  </script>
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

#*
#if ($is_signed_in)
	#dockbar()
#end
*#

<div class="container-fluid" id="wrapper">
	<header id="banner" role="banner">
		<div id="heading">
			<h1 class="site-title">
				<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
					<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
				</a>

				#if ($show_site_name)
					<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
						$site_name
					</span>
				#end
			</h1>

			<h2 class="page-title">
				<span>$the_title</span>
			</h2>
		</div>

		#if (!$is_signed_in)
##			<a data-redirect="$is_login_redirect_required" href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
			<a data-redirect="$is_login_redirect_required" href="/" id="sign-in" rel="nofollow">$sign_in_text</a>
		#end

#*
		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
*#
	</header>

	<div id="content">
#*
		<nav id="breadcrumbs">#breadcrumbs()</nav>
*#

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

#*
	<footer id="footer" role="contentinfo">
		<p class="powered-by">
			#language ("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a>
		</p>
	</footer>
*#

</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>
