<body>

<div ng-app="myApp" ng-controller="myCtrl">

<button ng-click="text=txtA">AddFile</button>
<button ng-click="text=txtD">DeleteFile</button>
<button ng-click="text=txtU">UpdateFile</button>
<button ng-click="text=txtC">CreateFile</button>
<p>{{text}}</p>

</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.txtA="Added File!";
    $scope.txtD="Deleted File!";
    $scope.txtU="Updated File!";
    $scope.txtC="Created File!";
});
</script> 

</body>
</html>

